In [1]:
import pandas as pd

# Виды среднего

## Средняя величина

### Формула

$$ \overline{x} = \frac{ \Sigma{x_i} }{ n } $$

$ \overline{x} $ - средняя величина

$ \Sigma{x_i} $ - сумма всех значений следуемого признака

$ n $ - количество измерений

### Определение

**Средней величиной** называют наиболее типичное значение исследуемого признака

### Пример

Допустим, мы хотим найти наиболее типичный рост баскетболиста в команде из 5 человек.

В данном случаи, исследуемый признак — это рост, а количество измерений равно 5 (так — как мы замеряем рост у 5 человек)

In [2]:
data =[['Иван', 1.98],['Илья', 2.04],['Павел', 2.10], ['Олег', 1.97], ['Семён', 2.15]]

В таблице приведены результаты измерений

In [3]:
table = pd.DataFrame(data=data, columns=['Имя игрока','Рост'])

In [4]:
table

  Имя игрока  Рост
0       Иван  1.98
1       Илья  2.04
2      Павел  2.10
3       Олег  1.97
4      Семён  2.15